body {
    background-color: #404040;
    color: #F5F5F5;
}

h2 {
    margin-top : 50px;
    margin-bottom : 1px;
    text-align: center;
}

.inscriptionConnexionDiv{
    text-align: center;
}

.inscriptionConnexionForm input[type = text], input[type = password] {
    text-align: center;
    width: 60%;
    padding: 12px;
}

.inscriptionConnexionForm input {
    margin-top: 25px;
}

.inscriptionConnexionFieldset {
    padding-top: 25px;
    margin-left : 32%;
    margin-right : 32%;
    border-color : black;
}

.submitButton {
    margin: 50px;
    border-color : black;
    background-color : #E70739;
    padding: 14px 16px;
}

.submitButton:hover {
    background-color: #ddd;
    color: black;
}