h1 {
    font-size: 40px;
    color: #d26c35;
    text-align: center;
}

body {
    color: #F5F5F5;
    background-color: #404040;
}

.Titre {
    font-size: 120%;
    color: #d26c35;
    padding: 5% 5% 0% 5%;

}