body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Création d'une banniere dynamique avec photos */
/* Configuration de l'animation */
.banniereImg{
    margin: 70px auto 0;
    width: 1920px;
    height: 520px;
    border: solid black 2px;
    background-image: url("../images/test4Banniere.jpg");

    /* utilisation des prefixe -webkit- et -moz- par soucis de compatibilité */
    -webkit-animation-name: banniere1;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: banniere1;
    -moz-animation-duration: 12s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: banniere1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* Images utilisées dans l'animation avec ordre de passage */
@-webkit-keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

@-moz-keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

@keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

.description{
    text-align: center;
    color: white;
    background-color: #4f5051;
}

.description h1{
    font-size: 35px;
}

.description p{
    font-size: 15px;
}

.topRecette{
    text-align: center;
    color: white;
    background-color: #313233;
    font-size: 0;
}

.topRecette h1{
    font-size: 35px;
}

.topRecette p{
    font-size: 15px;
}

.topRecette img{
    width: 650px;
    height: 450px;
    border-radius: 50px;
    border : 2px white solid;
}

#conteneurRecettes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recettesContenue{

}

.recettes{
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #313233;
}

.recettes h1{
    font-size: 35px;
}

.recettes img{
    width: 400px;
    height: 250px;
    border-radius: 50px;
    border : 2px white solid;
}
