body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1{
    font-size: 35px;
}

/* Création d'une banniere dynamique avec photos */
/* Configuration de l'animation */
.banniereImg{
    margin: 0 auto 0;
    height: 520px;
    border: solid black 2px;
    background-image: url("../images/test4Banniere.jpg");

    /* utilisation des prefixe -webkit- et -moz- par soucis de compatibilité */
    -webkit-animation-name: banniere1;
    -webkit-animation-duration: 16s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: banniere1;
    -moz-animation-duration: 16s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: banniere1;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* Images utilisées dans l'animation avec ordre de passage */
@-webkit-keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

@-moz-keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

@keyframes banniere1 {
    0%{background-image: url("../images/test4Banniere.jpg");}
    33%{background-image: url("../images/test5Banniere.jpg");}
    66%{background-image: url("../images/test6Banniere.jpg");}
}

.description{
    text-align: center;
    padding: 1% 0;
    color: white;
    background-color: #4f5051;
}

.description p{
    font-size: 15px;
}

.topRecette{
    text-align: center;
    padding: 1% 0;
    color: white;
    background-color: #313233;
    font-size: 0;
}

.topRecette p{
    font-size: 15px;
}

.topRecette img{
    width: 650px;
    height: 450px;
    border-radius: 50px;
    border : 2px white solid;
}

.recettes{
    padding: 1% 0;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #313233;
}

.recettes img{
    width: 400px;
    height: 250px;
    border-radius: 50px;
    border : 2px white solid;
}

/* FLEXBOX pour les recettes (DEBUT) */
#conteneurRecettes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.recetteContenue{
    width: 50%;
}

.recetteContenue p{
    margin : 10px 25%;
}

/* FLEXBOX pour les recettes (FIN) */

@media screen and (max-width: 1250px) {
    /* responsive design (affichage en col au lieu de row, éviter que le texte se chevauche) */
    #conteneurRecettes {
        flex-direction: column;
        align-items: center;
    }

    .recetteContenue img {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 250px;
    }

    .recetteContenue p{
        margin : 10px 10%;
    }
}