html {
    overflow-y:scroll;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    background-color: #666666;
}

#container {
    padding: 2% 2% 2% 1%;
    text-align: center;
}

.liContainer {
    display: flex;
    flex-direction: row;
}
.partRecette1 {
    width: 60%;
    order: 1;
}

.partRecette2 {
    order: 2;
}

.partRecette2 button {
    position: relative;
    top: 20px;
}

.partMembre1 {
    order: 1;
    width: 15%;
}

.partMembre2 {
    padding-left: 1%;
    width: 40%;
    order: 2;
}

.partMembre3 {
    order: 3;
}

.partMembre3 button {
    position: relative;
    top: 20px;
}

#membres, #recettes {
    text-align: left;
}

#container li{
    background-color: white;
    border: 1px black solid;
}

#container li p {
    margin-left : 0;
    padding: 5px;
}

.aligner {
    display: inline-block;
    margin-left: 10px;
}

.identite{
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: orange;
    padding: 5px;
}

.noStyle {
    list-style: none;
}

button {
    border: none;
    padding: 6px;
    margin-top: 8px;
    border-radius: 8px;
    background: #d34836;
    font: bold 13px Arial;
    color: #fff;
    outline: none;
}

@media screen and (max-width: 1250px) {
    .liContainer {
        display: flex;
        flex-direction: column;
    }
    .partRecette2 button {
        position: relative;
        top: 0;
        margin-left: 0;
        margin-bottom: 2%;
    }
}
