body {
    margin: 0;
}

#BarreHorizontale {
    padding: 0;
    height: 60px;
    font-size : 170%
}

.sideNav{
    float:left;
    margin : 0;
    padding : 0;
    height: 100%;
    width: 100%;
    background-color: #E70739;
    list-style-type: none;
}

.sideNav li {
    height: 100%;
    width: auto;
    float : left;
}

.sideNav li:hover {
    background-color: #F5F5F5;
}

.sous-menu li:hover{
    background-color: #E70739;
}

.sideNav a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color : black;
    padding: 14px 15px 14px 15px;
}

#iconeImage {
    width : auto;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#rechercheLi {
    float:right;
}

#rechercheLi:hover{
    background-color: #E70739;
}

#rechercheForm {
    padding: 0 15px 4px 15px;
}

#rechercheChamp:hover{
    background-color: #F5F5F5;
}

#rechercheChamp {
    margin-top: 11px;
    float : left;
    height: 29px;
}

#rechercheBouton {
    margin-top: 12px;
    padding-left: 8px;
    width : auto;
    height: 37px;
}

.sous-menu{
    display: none;
    left: 0;
    top : 60px;
    position: absolute;
    padding-left: 0;
    background-color: #F5F5F5;
    border: 1px solid #555;
    list-style-type: none;
    z-index: 1;
    width : 300px;
}

.sous-menu li {
    float : none;
    border: none;
}

.sous-menu a {
    padding-right : 100%;
}

#iconeLi:hover .sous-menu {
    display : block;
}

.sous-menu #deconnexionBouton {
    margin : 0;
    background-color: #F5F5F5;
    width : 300px;
    float : none;
    border: none;
    border-radius: 0;
    font-size :110%;
    color : black;
    text-align: left;
    padding: 0 0 0 17px;
    display:inline-block;
    height: 60px;
    cursor : pointer;
}

.sous-menu #deconnexionBouton:hover {
    background-color: #E70739;
}

@media only screen and (max-width: 1024px) {
    #BarreHorizontale {
        height: 5%;
    }

    .sideNav {
        height: 5%;
    }

    #Recette, #Creation, #Description {
        display : none;
    }

    #C\&B {
        width: 50%;
        padding : 3% 0 0 0;

    }

    .sideNav a {
        padding : 1% 0 auto 3%;
        font-size : 250%;
    }

    #rechercheLi {
        float:right;
        width : 35%;
    }

    #rechercheChamp {
        width : 70%;
        padding : 5% 0 5% 0;
        margin : 015% 0 0 0;
        font-size: 100%;
    }

    #rechercheBouton {
        float : right;
        width : 15%;
        height: auto;
        padding : 15% 0 15% 3%;
    }

    #iconeLi {
        width : 15%;
    }

    #iconeImage {
        width : 100%;
        height: auto;
        padding : 5% 0 1% 0;
    }
}