body { /* on aligne le + à gauche */
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#menu-vertical {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 250px;
}
#menu-vertical ul {
    padding-top:29px;
    margin:0;
    list-style:none;
    text-align: center;
}
#menu-vertical li {
    background-color:#729EBF;
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    margin-bottom:2px;
}
#menu-vertical li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #999999;
    box-shadow: none;
    border:none;
    margin:0
}
#menu-vertical a {
    display:block;
    text-decoration: none;
    color: black;
    padding: 8px 75px 8px 75px;
    font-family: corbel;
    font-size:1.4em
}
#menu-vertical ul li a, #menu-vertical li:hover li a {
    font-size:1em
}

#menu-vertical li:hover {
    background: #729EBF
}
#menu-vertical li li:hover {
    background: #777;
}
#menu-vertical ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}

#menu-vertical li:hover li {
    max-height: 15em;
}


.image_menu {
    width: 50px;
    height: 50px;
    padding-top: 33px;
}

/* menu de navigation, fond noir */
.topnav {
    background-color: #E70739;
    position: fixed;
    width: 100%;
    border: solid black 0px;
    top: 0;
}

/* Stylisation des elements du topnav */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 35px;
}

/* Coloration sur passage de souris */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* barre de recherche*/
.barre_nav {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #fff;
    letter-spacing: 10px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;

}
.barre_nav:hover{
    background-color: #56B0A5;
    color: #fff;
}

.search-btn {
    /*background-image: url("images/look.png");*/

    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 100px 10px 100px;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.BoutonRecherche{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}