body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #F5F5F5;
    background-color: #404040;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

button{
    border:none;
    padding:6px;
    border-radius:8px;
    background:#d34836;
    font:bold 13px Arial;
    color:#fff;
    outline: none;
}

button:hover{
    background:black;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    color: #d26c35;
    text-align: center;
}

#profil {
    margin: 1% 5%;
}

#presentation_membre {
    background-color: #474849;
    padding: 10px 10% 10px 10%;
    margin: 5px 10px 5px 10px;
    border: 3px solid #d34836;
    border-radius: 40px;
    font-family: Corbel;
}

#titre {
    color: #d34836;
    font:bold 40px Arial;
}

.info {
    display: inline;
}

#update {
    display: none;
}

.containerFav{
    margin-left: 10%;
    margin-right : 1%;
    margin-top: 1%;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    background-color: black;
    float: left;
    clear: left;
    color: white;
    white-space: nowrap;
}

.mesFavoris{
    margin-right : 1%;
    text-decoration: none;
    color: white;
}

.mesFavoris:hover{
    background-color: #1a1a1a;
}