body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #F5F5F5;
    background-color: #404040;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1 {
    font-size: 40px;
    color: #d26c35;
    text-align: center;
}

#profil {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#presentation_membre {
    background-color: #474849;
    padding: 10px 10% 10px 10%;
    margin: 5px 10px 5px 10px;
    border: 3px solid #d34836;
    border-radius: 40px;
    font-family: Corbel;
}

#titre {
    color: #d34836;
    font:bold 40px Arial;
}

.info {
    display: inline;
}

#update {
    display: none;
}